<h2>Заказ</h2>

{% for item in order %}
    <a href="/order/custom/?uid={{ item.id }}">
        <div>
            <h3>name: {{ item.name }}</h3>
            <p>phone: {{ item.phone }}</p>
            <p>date: {{ item.date }}</p>
            <p>price: {{ item.total }}</p>
        </div>
    </a>
{% endfor %}
